body, html {
  margin: 0;
  padding: 0;
  font-family: 'open sans', helvetica, sans-serif;
}



.header {
  height: 60px;
  background: #3b5998;
}

.header a {
  margin: 21px 0 0 19px;
  display: inline-block;
  color: white !important;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  padding: 30px;
}

input[type="input"] {
  width: 512px;
  padding: 6px;
  font-size: 16px;
}

textarea {
  width: 500px;
  min-height: 90px;
  padding: 13px;
}

input.submit {
  width: 100px;
  height: 38px;
  display: inline-block;
  background: rgb(216, 216, 216);
  border: 1px solid rgb(199, 199, 199);
  border-radius: 3px;
  font-size: 16px;
}
